# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ecyydhmxcmddctheixkz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjeXlkaG14Y21kZGN0aGVpeGt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMDkwNzQsImV4cCI6MjA5NjY4NTA3NH0.-QCyzuSv87QHA4ANDzlj0aBdtvEW17LqXEhdDWhNBXw

# Mixpanel
# Get your token from https://mixpanel.com/settings/project (Project Token, not Service Account)
NEXT_PUBLIC_MIXPANEL_TOKEN=ac4622840cf397a3c8963f7cd6c96f6a
